doctype
html
  head
    title Header Parser Microservice
    link(rel='stylesheet' href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
  body
    div.container
      h1.header Header Parser Microservice
      img(src= "https://avatars0.githubusercontent.com/tomzurales?&s=128")
      h3 By: Tom Zurales
      blockquote
        h4 User Story
        ul
          li  I can get the IP address, language and operating system for my browser.
      h2 Example Usage:
      p
        h4 Request:
        code https://still-dusk-11533.herokuapp.com/parser/<br>
        h4 Response:
        code {"language":"en-US","software":"X11; Linux x86_64; rv:45.0"}
